/* @tailwind base; */
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}



:root {
  --bg-color: #319795;

}



body {
  
    background-color: var(--bg-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
